.form_all {
    margin-top: 30px;
display: flex;
    justify-content: space-between;
}
.box {
    width: 48%;
}
.submit {
    display: flex;
justify-content: right;
}
h1 {
    text-align: center;
    margin-top: 30px;
}
footer {
    height: 200px;
}
.name {
    margin-bottom: 30px;
}
.publication {
    margin-top: 30px;
}
.sub-but {
    display: block;
text-align: end;
}