{% extends 'base.html' %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-sm">

            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <form class="d-flex" style="width: 80%">
                                <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search" name="search">
                                <button class="btn btn-primary" type="submit">Найти</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1"><a href="{% url 'vacancy_list' %}" class="btn btn-light">Вакансии</a></div>
                    <div class="col-1"><a href="{% url 'resume_list' %}" class="btn btn-light">Резюме</a></div>
                    <div class="col-1"><a href="{% url 'company_list' %}" class="btn btn-light">Компании</a></div>
                </div>
            </div>
        </div>
    </nav>

    <div style="display: flex; flex-wrap: wrap" class="mt-5">
            {% for resume in resumes %}
                {% if resume.publication == True %}
                    <div class="card" style="width: 100%; margin: 5px">
                    <div class="card-body">
                        <a href="{% url 'detail_resume' resume.pk %}" style="text-decoration: none">
                            <h5
                                    class="card-title">{{ resume.position }}</h5>
                        </a>
                        <p class="card-text">Опубликовано: {% if resume.publication == False %} Нет {% else %} Да
                        {% endif %}</p>
                        <p class="card-text">{{ resume.user|capfirst }}</p>
                        <p class="card-text">{{ resume.salary }}</p>
                        <p class="card-text">{{ resume.work_experience.all.last }}</p>
                        <p class="card-text">{{ resume.education.all.last }}</p>
                    </div>
                </div>
                {% endif %}


            {% endfor %}


    </div>
    {% include 'common/pagination.html' %}
{% endblock %}