{% extends 'base.html' %}

{% block content %}
{% include 'common/common_nav.html' %}

    <div style="display: flex; flex-wrap: wrap" class="mt-5">
            {% for resume in resumes %}
                {% if resume.publication == True %}
                    <div class="card" style="width: 100%; margin: 5px">
                    <div class="card-body">
                        <a href="{% url 'detail_resume' resume.pk %}" style="text-decoration: none">
                            <h5
                                    class="card-title">{{ resume.position }}</h5>
                        </a>
                        <p class="card-text">Опубликовано: {% if resume.publication == False %} Нет {% else %} Да
                        {% endif %}</p>
                        <p class="card-text">{{ resume.user|capfirst }}</p>
                        <p class="card-text">{{ resume.salary }}</p>
                        <p class="card-text">{{ resume.work_experience.all.last }}</p>
                        <p class="card-text">{{ resume.education.all.last }}</p>
                    </div>
                </div>
                {% endif %}


            {% endfor %}


    </div>
    {% include 'common/pagination.html' %}
{% endblock %}