{% extends 'base.html' %}
{% load static %}
{% block title %}Пользователь{% endblock %}

{% block content %}
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">

                {% if user_obj.profile.avatar %}
                    <img class="avatar" src="{{ user_obj.profile.avatar.url }}" width="250" height="250"
                         alt="user picture" style="border-radius: 100%">
                {% else %}
                    <img src="{% static 'images_common/empty.png' %}" alt="">
                {% endif %}

            </div>
            <div class="col-md-6">
                <div class="card-body">

                    <h5>
                        <div class="row py-3">
                            <div class="col col-3">
                                {{ user_obj.username }}
                            </div>
                        </div>
                    </h5>
                    <p class="card-text">{{ user_obj.profile.user_or_company }}</p>
                    <p class="card-text">{{ user_obj.profile.phone }}</p>
                    <p class="card-text">{{ user_obj.profile.email }}</p>
                    {% if request.user.id == user_obj.id %}
                        <a href="{% url 'update_profile' %}" class="btn btn-outline-dark">Редактировать
                            профиль</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}