{% extends 'base.html' %}
{% load static %}
{% block title %}Пользователь{% endblock %}

{% block content %}
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">

                {% if user_obj.profile.avatar %}
                    <img class="avatar" src="{{ user_obj.profile.avatar.url }}" width="250" height="250"
                         alt="user picture" style="border-radius: 100%">
                {% else %}
                    <img src="{% static 'images_common/empty.png' %}" alt="">
                {% endif %}

            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td colspan="2">Логин</td>
                            <td>{{ user_obj.username|capfirst }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Роль</td>
                            <td>{% if user_obj.profile.user_or_company == False %}
                                Соискатель
                            {% else %}
                                Компания
                            {% endif %}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Номер телефона</td>
                            <td>{{ user_obj.profile.phone }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Email</td>
                            <td>{{ user_obj.profile.email }}</td>
                        </tr>
                        </tbody>
                    </table>
                    {% if request.user.id == user_obj.id %}
                        <a href="{% url 'update_profile' %}" style="text-decoration: none">Редактировать
                            профиль</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}