{% extends 'base.html' %}
{% load static %}
{% block title %}Пользователь{% endblock %}

{% block content %}
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">

                {% if user_obj.profile.avatar %}
                    <img class="avatar" src="{{ user_obj.profile.avatar.url }}" width="250" height="250"
                         alt="user picture">
                {% else %}
                    <img src="{% static 'images_common/empty.png' %}" alt="">
                {% endif %}

            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td colspan="2">Логин</td>
                            <td>{{ user_obj.username|capfirst }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Роль</td>
                            <td>{% if user_obj.profile.user_or_company == False %}
                                Соискатель
                            {% else %}
                                Компания
                            {% endif %}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Номер телефона</td>
                            <td>{{ user_obj.profile.phone }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Email</td>
                            <td>{{ user_obj.profile.email }}</td>
                        </tr>
                        </tbody>
                    </table>
                    {% if request.user.id == user_obj.id %}
                        <div class="container">
                            <div class="row row-cols-2">
                                <div class="col">
                                    <a href="{% url 'update_profile' %}" style="text-decoration: none">Редактировать
                                        профиль</a>
                                    <!-- Button trigger modal -->
                                    <a type="button" class="btn btn-primary"
                                       data-bs-toggle="modal"
                                       data-bs-target="#editModal">
                                        Редактировать
                                        профиль
                                    </a>
                                </div>


                                <!-- Modal -->
                                <div class="modal fade" id="editModal" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Редактировать
                                                    профиль</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row row-cols-2">
                                                    <div class="col col-6">
                                                        <h2>Поменять личные данные</h2>
                                                        <form style="width: 100%" action="{% url 'update_profile' %}"
                                                              method="post" enctype="multipart/form-data">
                                                            {% csrf_token %}
                                                            {% include 'partial/profile_form.html' %}
                                                            {% include 'partial/user_form.html' %}

{#                                                            <input type="submit" value="Submit" class="btn btn-success">#}
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    Close
                                                </button>
                                                <button type="button" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col"><a href="{% url 'change_password' %}" style="text-decoration: none">Редактировать
                                    пароль</a></div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if request.user.profile.user_or_company == True %}
        Ваши вакансии
        {% for vacancy in vacancies %}
            {% if request.user == vacancy.author %}
                <div class="card" style="width: 100%; margin: 5px">
                    <div class="card-body" style="height: 13rem">
                        <h6><i>Опубликовано: {% if vacancy.posted_status %}
                            Да {% else %} Нет {% endif %} </i></h6>
                        <h5 class="card-title mt-2">Открытая позиция: {{ vacancy.position }} </h5>
                        <p class="card-text mt-2">Требуемый опыт: {{ vacancy.min_years_experience }} лет</p>
                        <p class="card-text mt-2">З/П: {{ vacancy.salary }} USD</p>
                        <h6 class="card-subtitle mb-2 text-muted"><i>Дата обновления: {{ vacancy.updated_at }}</i></h6>
                        <a href="{% url 'vacancy_details' vacancy.pk %}" class="card-link">Подробнее</a>
                    </div>
                </div>
            {% endif %}

        {% endfor %}

    {% else %}
        User
    {% endif %}

{% endblock %}