{% extends 'base_register.html' %}
{% block content %}
    {% load static %}
    <div class="container">
        <div class="register_form">
            <div class="register_form_under_div" style="border: 1px solid #b2a7a7">
                <h1 style="font-family: 'Cookie', cursive; text-align: center;">Регистрация</h1>
                <form action="{% url 'register' %}" method="post" class="text-center" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        {% if profile_form.user_or_company.value %}
                            <div class="btn-group w-100" role="group" aria-label="Basic radio toggle button group">
                                <input value="False" type="radio" class="btn-check user" name="user_or_company"
                                       id="btnradio1"
                                       autocomplete="off">
                                <label class="btn btn-outline-secondary" for="btnradio1">Соискатель</label>

                                <input value="True" type="radio" class="btn-check company" name="user_or_company" id="btnradio2"
                                       autocomplete="off" checked>
                                <label class="btn btn-outline-secondary" for="btnradio2">Компания</label>
                            </div>

                        {% else %}

                            <div class="btn-group w-100" role="group" aria-label="Basic radio toggle button group">
                                <input value="False" type="radio" class="btn-check user" name="user_or_company"
                                       id="btnradio1"
                                       autocomplete="off" checked>
                                <label class="btn btn-outline-secondary" for="btnradio1">Соискатель</label>

                                <input value="True" type="radio" class="btn-check company" name="user_or_company" id="btnradio2"
                                       autocomplete="off">
                                <label class="btn btn-outline-secondary" for="btnradio2">Компания</label>
                            </div>

                        {% endif %}
                    </div>
                    <div class="form-group">
                        <input class="form-control username {% if form.username.errors %} is-invalid {% endif %}"
                               type="text"
                               name='username' id="username" value="{{ form.username.value|default:'' }}"
                               placeholder="Логин">
                        {% for error in form.username.errors %}
                            <p class="invalid-feedback">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <input class="form-control {% if profile_form.email.errors %} is-invalid {% endif %}"
                               type="email"
                               name='email' id="email" value="{{ profile_form.email.value|default:'' }}"
                               placeholder="Адрес электронной почты">
                        {% for error in profile_form.email.errors %}
                            <p class="invalid-feedback">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <input class="form-control {% if profile_form.phone.errors %} is-invalid {% endif %}"
                               type="tel"
                               name='phone' id="phone" value="{{ profile_form.phone.value|default:'' }}"
                               placeholder="Введите номер 8 777 777 77 77">
                        {% for error in profile_form.phone.errors %}
                            <p class="invalid-feedback">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <input class="form-control {% if form.password.errors %} is-invalid {% endif %}" type="password"
                               name="password" id="password" value="{{ form.password.value|default:'' }}"
                               placeholder="Пароль">
                        {% for error in form.password.errors %}
                            <p class="invalid-feedback">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <input class="form-control {% if form.password_confirm.errors %} is-invalid {% endif %}"
                               type="password" name="password_confirm" id="password_confirm"
                               value="{{ form.password_confirm.value|default:'' }}" placeholder="Повторите пароль">
                        {% for error in form.password_confirm.errors %}
                            <p class="invalid-feedback">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="form-group" style="text-align: left; color: gray">
                        <label for="avatar">Аватар</label>
                        {% if profile_form.avatar.value.url %}
                            <img src="{{ profile_form.avatar.value.url }}" alt="avatar"
                                 style="width: 70px; height: 70px">
                        {% endif %}
                        <input type="file" name='avatar' id="avatar" value="{{ profile_form.avatar.value|default:'' }}"
                               class="form-control {% if profile_form.avatar.errors %} is-invalid {% endif %}">
                        {% for error in profile_form.avatar.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <button class="btn btn-danger form-control" type="submit">Регистрация</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script>
        $(document).ready(function () {
            let username_placeholder = $('.username')[0]
            let btn1 = $('.user')[0]
            let btn2 = $('.company')[0]
            $('#btnradio1').click(function (e) {
                e.preventDefault();
                username_placeholder.placeholder = 'Логин Соискателя'
                btn1.value

            })
            $('#btnradio2').click(function (e) {
                e.preventDefault();
                username_placeholder.placeholder = 'Логин Компании'
                btn2.value

            })
        })
    </script>
{% endblock %}
