{% extends 'base.html' %}

{% block content %}
    <h1>Список Ваших опубликованных вакансий: </h1>

    <div style="display: flex; flex-wrap: wrap" class="mt-5">
        {% for vacancy in vacancies %}

            <div class="card" style="width: 100%; margin: 5px">
                <div class="card-body" style="height: 13rem">
                    <h5 class="card-title mt-2">Открытая позиция: {{ vacancy.position }}</h5>
                    <p class="card-text mt-2">Требуемый опыт: {{ vacancy.min_years_experience }} лет</p>
                    <p class="card-text mt-2">З/П: {{ vacancy.salary }} USD</p>
                    <h6 class="card-subtitle mb-2 text-muted"><i>Дата обновления: {{ vacancy.updated_at }}</i></h6>
                    <a href="{% url 'vacancy_details' vacancy.pk %}" class="card-link">Подробнее</a>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
    {% include 'common/pagination.html' %}
{% endblock %}