{% extends 'base.html' %}

{% block content %}
{% include 'common/common_nav.html' %}

    <div style="display: flex; flex-wrap: wrap" class="mt-5">
        {% if request.user.profile.user_or_company == True %}
            {% for resume in resumes %}
                {% if resume.publication == True %}
                    <div class="card" style="width: 100%; margin: 5px">
                        <div class="card-body">
                            <a href="{% url 'detail_resume' resume.pk %}" style="text-decoration: none">
                                <h5
                                        class="card-title">{{ resume.position }}</h5>
                            </a>
                            <p class="card-text">Опубликовано: {% if resume.publication == False %} Нет {% else %} Да
                            {% endif %}</p>
                            <p class="card-text">{{ resume.user|capfirst }}</p>
                            <p class="card-text">{{ resume.salary }}</p>
                            <p class="card-text">{{ resume.work_experience.all.last }}</p>
                            <p class="card-text">{{ resume.education.all.last }}</p>
                        </div>
                    </div>
                {% endif %}


            {% endfor %}
        {% else %}
            <div class="container">
                <div class="row row-cols-2">
                    <div class="col-3">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <form class="d-flex" style="width: 80%" action="{% url 'search_category' %}"
                                      method="GET">
                                    <input class="form-control me-2" type="submit" placeholder="Поиск"
                                           aria-label="Search" name="search_cat"
                                           value="Medicine">
                                </form>
                                <form class="d-flex" style="width: 80%" action="{% url 'search_category' %}"
                                      method="GET">
                                    <input class="form-control me-2" type="submit" placeholder="Поиск"
                                           aria-label="Search" name="search_cat" value="Production">
                                </form>
                                <form class="d-flex" style="width: 80%" action="{% url 'search_category' %}"
                                      method="GET">
                                    <input class="form-control me-2" type="submit" placeholder="Поиск"
                                           aria-label="Search" name="search_cat" value="Information technology">
                                </form>
                                <form class="d-flex" style="width: 80%" action="{% url 'search_category' %}"
                                      method="GET">
                                    <input class="form-control me-2" type="submit" placeholder="Поиск"
                                           aria-label="Search" name="search_cat" value="Marketing">
                                </form>
                                <form class="d-flex" style="width: 80%" action="{% url 'search_category' %}"
                                      method="GET">
                                    <input class="form-control me-2" type="submit" placeholder="Поиск"
                                           aria-label="Search" name="search_cat" value="Sales">
                                </form>
                                <form class="d-flex" style="width: 80%" action="{% url 'search_category' %}"
                                      method="GET">
                                    <input class="form-control me-2" type="submit" placeholder="Поиск"
                                           aria-label="Search" name="search_cat" value="Other">
                                </form>
                                <p>Уровень дохода от Тенге</p>
                                <form class="d-flex" style="width: 80%" action="{% url 'search_money' %}"
                                      method="GET">
                                    <input class="form-control me-2" type="submit" placeholder="Поиск"
                                           aria-label="Search" name="search_val" value="100000">
                                </form>
                                <form class="d-flex" style="width: 80%" action="{% url 'search_money' %}"
                                      method="GET">
                                    <input class="form-control me-2" type="submit" placeholder="Поиск"
                                           aria-label="Search" name="search_val" value="200000">
                                </form>
                                <form class="d-flex" style="width: 80%" action="{% url 'search_money' %}"
                                      method="GET">
                                    <input class="form-control me-2" type="submit" placeholder="Поиск"
                                           aria-label="Search" name="search_val" value="300000">
                                </form>
                                <form class="d-flex" style="width: 80%" action="{% url 'search_money' %}"
                                      method="GET">
                                    <input class="form-control me-2" type="submit" placeholder="Поиск"
                                           aria-label="Search" name="search_val" value="500000">
                                </form>
                                <form class="d-flex" style="width: 80%" action="{% url 'search_money' %}"
                                      method="GET">
                                    <input class="form-control me-2" type="submit" placeholder="Поиск"
                                           aria-label="Search" name="search_val" value="1000000">
                                </form>
                            </li>

                        </ul>
                    </div>
                    <div class="col-9">
                        {% for vacancy in vacancies %}

                            {% if vacancy.posted_status == True %}


                                <div class="card" style="width: 100%; margin: 5px">
                                    <div class="card-body">
                                        <a href="{% url 'vacancy_details' vacancy.pk %}" style="text-decoration: none">
                                            <h5
                                                    class="card-title">{{ vacancy.position }}</h5>
                                        </a>
                                        <p class="card-text">{{ vacancy.author|capfirst }}</p>
                                        <p class="card-text">Будьте первыми</p>
                                        <p class="card-text">{{ vacancy.description }}</p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>





        {% endif %}

    </div>
    {% include 'common/pagination.html' %}
{% endblock %}