{% csrf_token %}
<div style="width: 70%">
    <div class="mb-3">
        <label  for="institution_name" class="form-label">Название учреждения</label>
        <input type="text" name="institution_name" id="institution_name"
               class="form-control {% if form.institution_name.errors %}is-invalid{% endif %}"
               placeholder="Введите название учреждения" value="{{ form.institution_name.value| default:'' }}">
        {% for error in form.institution_name.errors %}
            <p class="invalid-feedback">{{ error }}</p>
        {% endfor %}
    </div>
    <div class="mb-3">
        <label  for="speciality" class="form-label">Специальность</label>
        <input type="text" name="speciality" id="speciality"
               class="form-control {% if form.speciality.errors %}is-invalid{% endif %}"
               placeholder="Введите специальность" value="{{ form.speciality.value| default:'' }}">
        {% for error in form.speciality.errors %}
            <p class="invalid-feedback">{{ error }}</p>
        {% endfor %}
    </div>
    <div class="mb-3">
        <label  for="start_date" class="form-label">Дата начало работы</label>
        <input type="date" required name="start_date" id="start_date"
               class="form-control {% if form.start_date.errors %}is-invalid{% endif %}"
               value="{{ form.start_date.value|date:'Y-m-d' | default:'' }}">
        {% for error in form.start_date.errors %}
            <p id="title" class="invalid-feedback">{{ error }}</p>
        {% endfor %}
    </div>
    <div class="mb-3">
        <label  for="end_date" class="form-label">Дата окончания</label>
        <input type="date" required name="end_date" id="end_date"
               class="form-control {% if form.end_date.errors %}is-invalid{% endif %}"
               placeholder="Введите название" value="{{ form.end_date.value|date:'Y-m-d' | default:'' }}">
        {% for error in form.end_date.errors %}
            <p id="title" class="invalid-feedback">{{ error }}</p>
        {% endfor %}
    </div>
    <div class="submit">
        <button type="submit" class="btn btn-danger">{% if is_edit %} Изменить {% else %} Создать {% endif %}</button>
    </div>
</div>